html
	head
		script(src='http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js')
		script(src='https://code.jquery.com/jquery-2.0.3.min.js')
		script(src='assets/bower_components/angular/angular.min.js')
		script(src='assets/bower_components/angular-appsdk/dist/rally.js')
		script(src='assets/bower_components/rui-angular/rui.min.js')
		script(src='scripts/all.js')
	body(ng-app='<%= moduleName %>', ng-controller='MainController')
		div(ng-repeat="event in events")
			span(ng-bind="event.timestamp")
			span :
			span(ng-bind="event.name")
